/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


body {
  background: #1F1F1F;
}

.container {
  width: 50em;
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

#north {
  width: 100%;
  height: 8em;
}

#west {
  float: left;
  height: 8em;
  width: 25em;
}

#south {
  position: relative;
  float: left;
  width: 100%;
  height: 8em;
}

#east {
  float: left;
  height: 8em;
  width: 18em;
}

#center {
  float: left;
  width: ;
}

.hidden {
  display: none;
  white-space: pre;
}

#ruby-field {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2em;
  width: 2em;
}

.game-map {
  height: 25em;
  background: black;
  margin-top: 2em;
  color: green;
  font-family: monospace;
}

.text-field {
  margin-top: .4em;
  width: 35em;
  height: 5em;
  background: black;
  color: blue;
  overflow: hidden;
}

.input-field {
  margin-top: 5px;
  width: 160px;
}

.final-text {
  position: absolute;
  top: 12em;
  left: 29em;
  background: pink;
  height: 12em;
  width: 25em;
}
