<div class="container">

  <div class="game-map">


  </div>


  <div class="text-field">

  </div>

  <div>search box</div>
  <%= link_to "New Game", new_welcome_path, class: "game-button",form: { "data-type" => "json" } %>
</div>
