<div class="container centered">

  <div class="game-map">


  </div>


  <div class="text-field centered">

  </div>

  <div class= 'input-field centered'>
    <%= text_field_tag 'direction', nil, id: 'user-input' %>
  </div>

  <%= link_to "New Game", new_welcome_path, class: "game-button",form: { "data-type" => "json" } %>
</div>
