@font-face {
    font-family: 'Fixedsys500c';
    src: url('fonts/Fixedsys500c.eot');
    src: url('fonts/Fixedsys500c.eot?#iefix') format('embedded-opentype'),
         url('fonts/Fixedsys500c.woff') format('woff'),
         url('fonts/Fixedsys500c.ttf') format('truetype'),
         url('fonts/Fixedsys500c.svg#akagithin') format('svg');
    font-weight: 300;
    font-style: normal;

}
